[Unit]
Description=Inertia Relayer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

ExecStart=/etc/inertia-relayer/inertia-relayer \
    --keypair-path /etc/inertia-relayer/keypair.json \
    --blockengine-url BLOCKENGINE_URL \
    --inertia-server INERTIA_IP:PORT \
    --inertia-cert-sha256 INERTIA_CERT_SHA256_64_HEX

Restart=always
RestartSec=2

LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target